.tab-button {
  outline: none;
  width: 100%;
  text-align: center;
  padding: 0.6rem 1rem;
  background-color: white;
  border-radius: 0.4rem;
  border: 1px solid #1ea7fd;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

.tab-button.active {
  background-color: #1ea7fd;
  border: 1px solid transparent;
}
